main-page {
  ion-icon {
    font-size: 2em;

    svg {
      fill: white;
    }
  }
  
  video {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}