auth-page {
  ion-scroll {
    background-color: #222 !important;
  }

  h1 {
    text-align: center;
    color: white;
  }

  .myIcon {
    display: flex;
    justify-content: center;
    margin-top: 8em;

    img {
      height: 10em;
    }
  }

  .loginButton {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 10px;

    ion-button {
      flex-grow: 0.91;
    }
  }
}